footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  font-size: 13px;
  font-family: 'Shippori Antique B1', sans-serif;
  background: #fafafa;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5rem;
          column-gap: 5rem;
}

footer .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 2rem;
}

footer .redes .asd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 20px;
  height: 3rem;
  width: 3rem;
}

@media screen and (max-width: 550px) {
  .columns {
    display: block;
    text-align: center;
  }
}

* {
  margin: 0;
  padding: 0;
}

main {
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container {
  padding-top: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

main .tracking-in-contract {
  -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  text-align: center;
}

main .texto {
  padding: 20px;
  text-align: center;
  font-size: 35px;
  font-family: 'Shippori Antique B1', sans-serif;
}

main .impresionesblancoynegro {
  font-family: 'Righteous', cursive;
  font-size: 40px;
}

main .border-start {
  font-size: 20px;
  font-family: 'Varela Round', sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .banner {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .imagen-inicio {
  padding-bottom: 2rem;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .formulario {
  margin-left: 5rem;
}

main .box-contact {
  text-align: center;
}

main .texto-contact {
  padding: 20px;
  text-align: center;
  font-size: 18px;
  font-family: 'Shippori Antique B1', sans-serif;
}

main .banner {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .txt {
  font-family: 'Staatliches', cursive;
  font-size: 2rem;
  text-align: center;
  position: absolute;
}

main .txt-1 {
  color: #ceceae;
  text-shadow: 0px 0px 8px  black;
}

main .txt-2 {
  color: #ceceae;
  text-shadow: 0px 0px 8px  black;
}

main .estamos-vida {
  font-family: 'Staatliches', cursive;
  font-size: 40px;
  text-align: center;
}

main .estamos-piaco {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  text-align: center;
}

main .container-delivery {
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  margin-left: 3rem;
  margin-right: 3rem;
}

main .grid-inicio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65% 35%;
      grid-template-columns: 65% 35%;
}

main .renovados {
  color: black;
  background-color: yellow;
  font-family: 'Open Sans', sans-serif;
  font-size: 45px;
  margin-bottom: 0;
}

main p.renovados {
  text-align: center;
}

main li {
  font-size: 33px;
  padding-top: 3rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  list-style: none;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 0px 0px 8px #b6b6b6;
}

main ul {
  padding-left: 0px;
}

main .volvemos {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  text-align: center;
}

main .precios-descripcion {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 82% 17%;
      grid-template-columns: 82% 17%;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 30px;
}

main .btn-red {
  color: #313131;
  background-color: yellow;
  margin-left: 35px;
  margin-right: 35px;
  -webkit-box-shadow: 1px 5px #d4d4d4;
          box-shadow: 1px 5px #d4d4d4;
}

main .precios-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  gap: 1rem;
}

main .box-pr {
  font-size: 30px;
  padding-top: 5rem;
  padding-left: 5rem;
  border: 1px solid #e9e9e9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 4rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 3rem;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-transition: 0,5s;
  transition: 0,5s;
}

main .box-pr:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 1px 5px #d8d8d8;
          box-shadow: 1px 5px #d8d8d8;
}

main .gris {
  color: #8b8b8b;
}

main .negrita {
  font-family: 'Roboto Condensed', sans-serif;
}

main .verde {
  color: #22ad22;
}

main .azul {
  color: #5858d8;
}

main .descripcion {
  font-size: 20px;
}

main .derecha {
  text-align: right;
}

main .anilladofree {
  color: #22ad22;
  font-size: 35px;
  text-align: center;
}

main .meli {
  border: 1px solid #aaaaaa;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 4rem;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-shadow: 1px 5px #d8d8d8;
          box-shadow: 1px 5px #d8d8d8;
}

main .medios-pagos {
  border: 1px solid #aaaaaa;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 2rem;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-shadow: 1px 5px #d8d8d8;
          box-shadow: 1px 5px #d8d8d8;
}

main .descuento {
  border: 1px solid #aaaaaa;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 2rem;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-shadow: 1px 5px #d8d8d8;
          box-shadow: 1px 5px #d8d8d8;
}

main .preg {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

main .txt-frec {
  margin-left: 2rem;
  margin-right: 2rem;
  text-shadow: 0px 0px 8px #8d8d8d;
}

main .jbl {
  margin-right: 3rem;
}

main .container-final {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 2rem;
}

main h3 {
  text-align: center;
  background-color: yellow;
}

main .precio-final {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

main .cll {
  font-size: 35px;
}

main .info-compra {
  display: block;
  border: 1px solid #d4d4d4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-box-shadow: 1px 5px #d8d8d8;
          box-shadow: 1px 5px #d8d8d8;
}

@media screen and (min-width: 771px) {
  main .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    row-gap: 20px;
  }
}

@media screen and (max-width: 1440px) {
  main .container-delivery {
    display: block;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    row-gap: 20px;
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

@media screen and (max-width: 1234px) {
  main .precios-descripcion {
    display: block;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    row-gap: 20px;
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

@media screen and (max-width: 768px) {
  main .precios-box {
    display: block;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    row-gap: 20px;
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

@media screen and (max-width: 1020px) {
  main .grid-inicio {
    display: block;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    row-gap: 20px;
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

@media screen and (max-width: 915px) {
  main .txt {
    font-family: 'Staatliches', cursive;
    font-size: 11px;
    text-align: center;
    position: absolute;
  }
}

@media screen and (min-width: 1400px) {
  main li {
    font-size: 50px;
    padding-top: 7rem;
  }
}

@media screen and (max-width: 768px) {
  main .container-final {
    display: block;
  }
}

.tracking-in-contract {
  text-align: center;
}

.tracking-in-contract a {
  font-family: 'Righteous', cursive;
  font-size: 100px;
  list-style: none;
  text-decoration: none;
  color: black;
  height: 100%;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

nav {
  background: white;
  height: 5rem;
}

nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 25px;
  margin: 4px;
  font-size: 15px;
  font-family: 'Varela Round', sans-serif;
  list-style: none;
  text-decoration: none;
}

nav .menu a {
  color: black;
  padding: 20px;
  list-style: none;
  text-decoration: none;
}

@media screen and (max-width: 550px) {
  nav .menu {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  nav {
    height: 12rem;
  }
}
/*# sourceMappingURL=estilos.css.map */