.tracking-in-contract {
        
                text-align: center;

    a{
            font-family: 'Righteous', cursive;
            font-size: 100px;
            list-style: none;
            text-decoration: none;
            color:black;
            height: 100%;
            }   
            
            @-webkit-keyframes tracking-in-contract {
                0% {
                  letter-spacing: 1em;
                  opacity: 0;
                }
                40% {
                  opacity: 0.6;
                }
                100% {
                  letter-spacing: normal;
                  opacity: 1;
                }
              }
              @keyframes tracking-in-contract {
                0% {
                  letter-spacing: 1em;
                  opacity: 0;
                }
                40% {
                  opacity: 0.6;
                }
                100% {
                  letter-spacing: normal;
                  opacity: 1;
                }
            }         
}
nav{
    background: white;
    height: 5rem;

    .menu{
        display: flex;
        justify-content: center;
        padding-top:  25px;
        margin: 4px;
        font-size: 15px;
        font-family: 'Varela Round', sans-serif;
        list-style: none;
        text-decoration: none;
        

        a{
          color: black;
          padding: 20px;
          list-style: none;
          text-decoration: none;
          
      
      }
    
        
      
        
    }
    @media screen and (max-width: 550px) {
        .menu{
            display: block;
            text-align: $centrado;
            
        }
    }
    
}
@media screen and (max-width: 550px) {
    nav{
        height: 12rem;
    }
}